<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>com.sadm.servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuario</servlet-name>
        <servlet-class>com.sadm.servlet.AgregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>com.sadm.servlet.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgreUsuario</servlet-name>
        <servlet-class>com.sadm.servlet.AgreUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>com.sadm.servlet.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMenu</servlet-name>
        <servlet-class>com.sadm.servlet.EliminarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarMenu</servlet-name>
        <servlet-class>com.sadm.servlet.EditarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgreMenu</servlet-name>
        <servlet-class>com.sadm.servlet.AgreMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPagina</servlet-name>
        <servlet-class>com.sadm.servlet.EditarPagina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPagina</servlet-name>
        <servlet-class>com.sadm.servlet.EliminarPagina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarNoticia</servlet-name>
        <servlet-class>com.sadm.servlet.AgregarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPagina</servlet-name>
        <servlet-class>com.sadm.servlet.AgregarPagina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarNoticia</servlet-name>
        <servlet-class>com.sadm.servlet.EditarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarNoticia</servlet-name>
        <servlet-class>com.sadm.servlet.EliminarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarConfig</servlet-name>
        <servlet-class>com.sadm.servlet.EditarConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Spinner</servlet-name>
        <servlet-class>com.sadm.servlet.Spinner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GreenSpinner</servlet-name>
        <servlet-class>com.sadm.servlet.GreenSpinner</servlet-class>
    </servlet>
       <servlet>
        <servlet-name>AltaServicioServlet</servlet-name>
        <servlet-class>com.sadm.servlet.AltaServicioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuario</servlet-name>
        <url-pattern>/agregarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/eliminarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgreUsuario</servlet-name>
        <url-pattern>/agreusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/editarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMenu</servlet-name>
        <url-pattern>/eliminarmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarMenu</servlet-name>
        <url-pattern>/editarmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgreMenu</servlet-name>
        <url-pattern>/agregarmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPagina</servlet-name>
        <url-pattern>/editarpagina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPagina</servlet-name>
        <url-pattern>/eliminarpagina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarNoticia</servlet-name>
        <url-pattern>/agregarnoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPagina</servlet-name>
        <url-pattern>/agregarpagina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarNoticia</servlet-name>
        <url-pattern>/editarnoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarNoticia</servlet-name>
        <url-pattern>/eliminarnoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarConfig</servlet-name>
        <url-pattern>/editarportal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spinner</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GreenSpinner</servlet-name>
        <url-pattern>/bitsSADM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaServicioServlet</servlet-name>
        <url-pattern>/altaservicioservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.sadm.servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>com.sadm.servlet.FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/FileUploadHandler/*</url-pattern>
    </servlet-mapping>
</web-app>
